# use it to select the environment
NODE_ENV=

# DB configuration
# PostgreSQL defaults
# DB_HOST=localhost
# DB_PORT=5432
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_DATABASE=tickets
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# use it for debug using KNEX
DEBUG=knex:query
FRONTEND_URL=http://localhost:5173
 